.homepage {
}

.homepage__title {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 1rem;
}

.homepage__products {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
